#version: "3.8"

services:

  kafka:
    image: confluentinc/cp-kafka:7.5.3
    container_name: kafka
    ports:
     - "9092:9092"
    environment:
               KAFKA_BROKER_ID: 1
               KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
               KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
               KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
               KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
               KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    depends_on:
               - zookeeper
    networks:
               - retail-net


  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.3
    container_name: zookeeper
    ports:
               - "2181:2181"
    environment:
               ZOOKEEPER_CLIENT_PORT: 2181
    networks:
               - retail-net


  product-service:
    build: ./product-service
    container_name: product-service
    ports:
      - "8081:8081"
    depends_on:
      - kafka
    environment:
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    networks:
      - retail-net

  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "8080:8080"
    depends_on:
      - kafka
      - product-service
    environment:
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - PRODUCT_SERVICE_URL=http://product-service:8081
    networks:
      - retail-net

  inventory-service:
    build: ./inventory-service
    container_name: inventory-service
    ports:
      - "8082:8082"
    depends_on:
      - kafka
    environment:
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    networks:
      - retail-net

networks:
  retail-net:
    driver: bridge
