
#server:
#  port: 8080
#spring:
#  application:
#    name: order-service
#  kafka:
#    bootstrap-servers: localhost:9092
#resilience4j:
#  circuitbreaker:
#    instances:
#      productService:
#        failureRateThreshold: 50
#        slidingWindowSize: 5
server:
  port: 8080

spring:
  application:
    name: order-service

  datasource:
    url: jdbc:h2:mem:orderdb;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true

  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS}
    producer:
       key-serializer: org.apache.kafka.common.serialization.StringSerializer
       value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

resilience4j:
  circuitbreaker:
    instances:
      productService:
        failure-rate-threshold: 50
        sliding-window-size: 5
        minimum-number-of-calls: 3
        wait-duration-in-open-state: 10s
        permitted-number-of-calls-in-half-open-state: 2
  retry:
    instances:
      productService:
        max-attempts: 3
        wait-duration: 1s

management:
  endpoints:
    web:
      exposure:
        include: health,metrics